@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'poppins',sans-serif;
}
header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: center;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  background-color: rgba(67, 67, 67, 0.6);
  z-index: 100;

}
