@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'poppins',sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: center;

}
