<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">"Explore the World of Words with Us!"</h1>
        <p class="lead text-body-secondary" style="background-color: rgb(68, 67, 67); border-radius: 10px;">"Welcome back, book lover! 📚✨
          Login to BOOKNOOOK and continue your literary journey with us. Dive into the world of stories, explore new realms, and discover the magic that each page holds. Your next chapter awaits! 🌟
          </p>
        <p>

          <a routerLink="/signup" class="btn btn-secondary my-2">Register With Us</a>
        </p>
      </div>
    </div>
  </section>

  <div id="carouselExampleInterval" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/images/s2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/images/s1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/s3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="album py-5 ">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/detectives diary.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Detectives dairy</p>
              <p class="card-text"><strong>Author:</strong> F. Scott Fitzgerald</p>
              <p class="card-text"><strong>Price:</strong> ₹300</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/byomkesh bakshi.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Byomkesh Bakshi</p>
              <p class="card-text"><strong>Author:</strong> Sharadindu Bandyopadhyay</p>
              <p class="card-text"><strong>Price:</strong>₹199 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Dot com rohosso.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Dot com rohosso</p>
              <p class="card-text"><strong>Author:</strong> Anis Dev</p>
              <p class="card-text"><strong>Price:</strong> ₹350.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Dracula.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Dracula</p>
              <p class="card-text"><strong>Author:</strong> Bram Stoker</p>
              <p class="card-text"><strong>Price:</strong> ₹340.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Now.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Now</p>
              <p class="card-text"><strong>Author:</strong>Eckhart Tolle</p>
              <p class="card-text"><strong>Price:</strong> ₹250.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Greatest poetry.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Greatest Poetry</p>
              <p class="card-text"><strong>Author:</strong>William Wordsworth</p>
              <p class="card-text"><strong>Price:</strong> ₹350.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Gulzar.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Gulzar</p>
              <p class="card-text"><strong>Author:</strong>Pavan k Varma</p>
              <p class="card-text"><strong>Price:</strong> ₹300.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Karma.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Karma</p>
              <p class="card-text"><strong>Author:</strong> F. Scott Fitzgerald</p>
              <p class="card-text"><strong>Price:</strong> ₹300.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Lifes amazing secreat.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Lifes amazing secreat</p>
              <p class="card-text"><strong>Author:</strong> Gaur Gopal Das</p>
              <p class="card-text"><strong>Price:</strong> ₹200.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Living spirituality.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> Living Spiritulity</p>
              <p class="card-text"><strong>Author:</strong>Meetu Bisht</p>
              <p class="card-text"><strong>Price:</strong> ₹300.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/Twelve Paranormal Tales.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong>Twelve paranormal</p>
              <p class="card-text"><strong>Author:</strong> Amitav ganguly</p>
              <p class="card-text"><strong>Price:</strong> ₹420.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/books">
          <div class="card shadow-sm">
            <img src="../../assets/images/You only lives once.jpg" class="bd-placeholder-img card-img-top" width="100%" height="444" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">

              <p class="card-text"><strong>Book:</strong> You only lives once</p>
              <p class="card-text"><strong>Author:</strong> Stuti Changle</p>
              <p class="card-text"><strong>Price:</strong> ₹250.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
