<div class="form-box">

  <!------------------- login form -------------------------->
  <form>

  <div class="login-container" id="login" [ngClass]="{'left-4px': isLoginSelected, 'opacity-1': isLoginSelected}">
      <div class="top">
          <span>Don't have an account? <a href="#" [ngClass]="{'white-btn': !isLoginSelected}" (click)="toggleView()">Sign Up</a></span>
          <header>Login</header>
      </div>
      <div class="input-box">
          <input type="text" class="input-field" placeholder="Username or Email">
          <i class="bx bx-user"></i>
      </div>
      <div class="input-box">
          <input type="password" class="input-field" placeholder="Password">
          <i class="bx bx-lock-alt"></i>
      </div>
      <div class="input-box">
          <input type="submit" class="submit" value="Sign In">
      </div>
      <div class="two-col">
          <div class="one">
              <input type="checkbox" id="login-check">
              <label for="login-check"> Remember Me</label>
          </div>
          <div class="two">
              <label><a href="#">Forgot password?</a></label>
          </div>
      </div>
  </div>
  </form>
  <!------------------- registration form -------------------------->
  <form>
  <div class="register-container" id="register" [ngClass]="{'right-520px': !isLoginSelected, 'opacity-0': !isLoginSelected}">
      <div class="top">
          <span>Have an account? <a href="#" [ngClass]="{'white-btn': isLoginSelected}" (click)="toggleView()">Login</a></span>
          <header>Sign Up</header>
      </div>
      <div class="two-forms">
          <div class="input-box">
              <input type="text" class="input-field" placeholder="Firstname">
              <i class="bx bx-user"></i>
          </div>
          <div class="input-box">
              <input type="text" class="input-field" placeholder="Lastname">
              <i class="bx bx-user"></i>
          </div>
      </div>
      <div class="two-forms">
      <div class="input-box">
          <input type="text" class="input-field" placeholder="Email">
          <i class="bx bx-envelope"></i>
      </div>
      <div class="input-box">
          <input type="password" class="input-field" placeholder="Password">
          <i class="bx bx-lock-alt"></i>
      </div>
      </div>

      <div class="two-forms">
          <div class="input-box">
              <input type="text" class="input-field" placeholder="Address">
              <i class="bx bx-globe"></i>
          </div>
          <div class="input-box">
              <input type="text" class="input-field" placeholder="Phone">
              <i class="bx bx-mobile-alt"></i>
          </div>
          </div>

      <div class="input-box">
          <input type="submit" class="submit" value="Register">
      </div>
      <div class="two-col">
          <div class="one">
              <input type="checkbox" id="register-check">
              <label for="register-check"> Remember Me</label>
          </div>
          <div class="two">
              <label><a href="#">Terms & conditions</a></label>
          </div>
      </div>
  </div>
</form>
</div>

