<section>
  <div class="form-box">
      <div class="form-value">
          <form (ngSubmit)="login()">
              <h2>Login</h2>
              <h2 class="text-success"  *ngIf="responce!=null">Login Successful</h2>
              <h2 class="text-danger" *ngIf="responce===null">Invalid Credentials !!</h2>
              <div class="inputbox">
                  <input type="text" required name="email" [(ngModel)]="user.email">
                  <label for="">Email</label>
              </div>
              <div class="inputbox">
                  <input type="password" required name="password" [(ngModel)]="user.password" >
                  <label for="">Password</label>
              </div>
              <div class="forget">
                  <label for=""><input type="checkbox">Remember Me</label>

              </div>
              <button style="color: black;">Log in</button>
              <div class="register">
                  <p>Don't have a account ? <a routerLink="/signup">Register</a></p>
              </div>
          </form>
      </div>
  </div>
</section>
