<div class="px-4 py-5 my-5 text-center">
<h2 class="justify-content-center text-center px-3" style="border: 2px solid rgba(255,255,255,0.5); display: inline-block; border-radius: 20px;" *ngIf="message!=null">
  User Registration success {{user.first_name+' '+user.last_name}}
</h2>
</div>

<section class="pb-5 mb-3">
  <div class="form-box pb-5">
      <div class="form-value">

          <form (ngSubmit)="registerNow()">
              <h2>Sign Up !</h2>
              <div class="inputbox">
                <input type="text" required  name="first_name" [(ngModel)]="user.first_name">
                <label for="">First Name</label>
              </div>
              <div class="inputbox">
                <input type="text" required  name="last_name" [(ngModel)]="user.last_name">
                <label for="">Last Name</label>
              </div>
              <div class="inputbox">
                  <input type="email" required  name="email" [(ngModel)]="user.email">
                  <label for="">Email</label>
              </div>
              <div class="inputbox">
                  <input type="password" required  name="password" [(ngModel)]="user.password">
                  <label for="">Password</label>
              </div>
              <div class="inputbox">
                <input type="tel" required name="phone_number" [(ngModel)]="user.phone_number">
                <label for="">Phone Number</label>
              </div>
              <div class="inputbox">
                <input type="text" required  name="address" [(ngModel)]="user.address">
                <label for="">Address</label>
              </div>
              <button style="color: black;">Sign Up</button>
              <div class="register">
                  <p>Already have a account ? <a routerLink="/login">Login</a></p>
              </div>
          </form>
      </div>
  </div>
</section>
