body {
  font-family: "Poppins", sans-serif;
  background: url("./assets/images/index1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;

}
